body {
  color: white;
  margin: 0;
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  min-width: 100vw;
  min-height: 100vh;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
}

.banner img {
  height: 80px;
}

.banner:hover img {
  animation: wave-flag 0.5s linear infinite alternate;
  transform-origin: top left;
}

@media (prefers-reduced-motion: reduce) {
  .banner:hover img {
    transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
    transform-origin: top left;
  }
}

@keyframes wave-flag {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

.red-circle {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 200px;
  /* Adjust size as needed */
  height: 200px;
  /* Adjust size as needed */
  background-color: rgba(255, 0, 0, 0.3);
  /* Red color with opacity */
  border-radius: 50%;
  filter: blur(50px);
  /* Adjust blur effect */
  z-index: 0;
  /* Make sure it's behind other elements */
}